*{margin:0; padding:0;}
body{font-family:Arial, Helvetica, sans-serif; font-size:12px;}
a img{border:0;}
a{text-decoration:none; color:#000;}
a:hover{text-decoration:none; color:#000;}


header, article, footer{margin:0 auto; }
header{background-color: #cee3f8; margin-bottom:20px;}
header h1{margin:20px 0;}

article{}
article p a{color:#900}
	.border{border-bottom:1px solid #eee; padding-bottom:10px; margin-bottom:10px;}
	.entry-top{font-size:16px; margin-bottom:5px;}
	.entry-top a{color:#118cb9;}
	.entry-bottom{font-size:11px;}
	.domain{font-size:11px;}
	.table-cell{display: table-cell; vertical-align: middle;}
	.score{font-size: 14px; text-align: center; margin-top: 22px; position: relative;}
	
	ul.nav-list{margin-left:20px;}
	ul.nav-list li div{background:#eeeeee; margin:5px 0; border-radius:5px; padding:5px; overflow: hidden;}
	ul.nav-list li div label{font-size:16px; float:left;}
	ul.nav-list li div p{float:left; margin-left:10px;}
	ul.nav-list li div p span{font-size:10px; font-weight: bold; margin-top:5px; display: block;}
	ul.nav-list li div p span a{cursor:pointer;}
	.ui-dialog .ui-dialog-titlebar-close {color: #000; line-height: 4px;}
