<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <h2 ng-show="subreddit || domain">{{ subreddit || domain }}</h2>
  <div ng-show="loading" class="loading">Loading...</div>
</div>
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 border"  ng-repeat="link in links">
	<div class="row">
		<div class="col-xs-2 col-sm-2 col-md-1 col-lg-1 score">
		    	{{ link.data.score }}
		</div>
	    <div class="col-xs-2 col-sm-2 col-md-1 col-lg-1">
	    	 <img src="{{ link.data.thumbnail | thumbs }}"  class="img-responsive"/>
	    </div>
	    <div class="col-xs-8 col-sm-8 col-md-10 col-lg-10">
		    <div class="entry-top">
		      <a href="{{ link.data.url }}"  target="_blank">{{ link.data.title }}</a>
		      <span class="domain">(<a href="http://{{ link.data.domain }}"  target="_blank">{{ link.data.domain }}</a>)</span>
		    </div>
		    <div class="entry-bottom">
	      		<p>Added by {{ link.data.author }} | <a href="index.html#{{ link.data.permalink }}"> {{ link.data.num_comments }} comments</a></p>
			</div>
		</div>
    </div>
</div>
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 border">
	<div class="row">
		<ul class="nav nav-list tree" ng-tree="coments">
			<li  each="obj in data.replies.data.children">
				<label class="tree-toggler nav-header" ng-if="obj.data.replies|repies">[-]</label>
				<p>{{obj.data.body }} <br /><span>Author: {{obj.data.author }} | <a class="answer">Answer</a></span></p>
			</li>
		</ul>
		
    </div>
    
</div>
